::-webkit-scrollbar {
  width: 18px;
  height: 8px;
  background: #eee
}

::-webkit-scrollbar-thumb {
  background: #80c8bf
}

::-webkit-scrollbar-thumb:hover {
  background: #3b3e48
}

html {
  background: #fff;
  line-height: 1.6;
  letter-spacing: .06em;
  scroll-behavior: smooth
}

body, button, input, select, textarea {
  color: #3b3e48;
  font-family: trebuchet ms, Verdana, verdana ref, segoe ui, Candara, lucida grande, lucida sans unicode, lucida sans, Tahoma, sans-serif;
  outline: none
}

pre, code, pre tt {
  font-family: Consolas, andale mono wt, andale mono, Menlo, Monaco, lucida console, lucida sans typewriter, dejavu sans mono, bitstream vera sans mono, liberation mono, nimbus mono l, courier new, Courier, yahei consolas hybrid, monospace, segoe ui emoji, pingfang sc, microsoft yahei
}

pre {
  background: #eee;
  padding: .7em 1.1em;
  overflow: auto;
  font-size: .9em;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
  color: #000;
  border-radius: 4px
}

pre code {
  padding: 0;
  margin: 0
}

code {
  color: #000;
  background: #eee;
  border-radius: 3px;
  padding: 3px;
  margin: 0 4px;
  word-wrap: break-word;
  letter-spacing: normal
}

blockquote {
  border-left: .25em solid;
  margin: 1em;
  padding: 0 1em;
  font-style: italic
}

blockquote cite {
  font-weight: 700;
  font-style: normal
}

blockquote cite::before {
  content: "—— "
}

a {
  color: #3b3e48;
  text-decoration: none;
  border: none;
  transition-property: color;
  transition-duration: .4s;
  transition-timing-function: ease-out
}

a:hover {
  color: #80c8bf;
  text-shadow: 0 0 1px #fff
}

hr {
  opacity: .2;
  border-width: 0 0 5px;
  border-style: dashed;
  background: transparent;
  width: 50%;
  margin: 1.8em auto
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  max-width: 100%
}

table th, table td {
  padding: 1.5%;
  border: 1px solid
}

table th {
  font-weight: 700;
  vertical-align: bottom
}

.section-inner {
  margin: 0 auto;
  max-width: 1200px;
  width: 93%
}

.thin {
  max-width: 720px;
  margin: auto
}

.feather {
  display: inline-block;
  vertical-align: -.125em;
  width: 1em;
  height: 1em
}

.sub-menu {
  font-size: .7em
}

.desktop-only, .desktop-only-ib {
  display: none
}

.highlight {
  position: relative;
  border: 1px solid #eee
}

.highlight pre {
  background: transparent;
  padding-right: 75px
}

.highlight code {
  background: transparent
}

.highlight-copy-btn {
  position: absolute;
  bottom: 7px;
  right: 7px;
  border: 0;
  border-radius: 4px;
  padding: 1px;
  font-size: .7em;
  line-height: 1.8;
  color: #fff;
  background-color: #777;
  opacity: .6;
  min-width: 55px;
  text-align: center
}

.highlight-copy-btn:hover {
  background-color: #666
}

.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, .6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: .875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000
}

#site-header {
  position: fixed;
  z-index: 2;
  bottom: 0;
  width: 100%;
  box-sizing: border-box
}

.hdr-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  font-size: 1.2rem;
  background-color: #eee;
  width: 88%;
  border-radius: .3rem;
  margin: 1rem auto
}

.hdr-wrapper .site-branding {
  display: inline-block;
  margin-right: .8em;
  font-size: 1.2em
}

.hdr-wrapper .site-nav {
  display: inline-block;
  font-size: 1.1em;
  opacity: .8
}

.hdr-wrapper .site-nav .has-children {
  padding-right: .5em;
  border-right: 2px solid #7d828a
}

.hdr-wrapper .site-nav .sub-menu > a {
  margin-left: .3em
}

.hdr-wrapper .site-nav a {
  margin-left: .8em
}

.hdr-wrapper .site-nav a:hover {
  color: #0099e3
}

.hdr-icons {
  font-size: 1.2em
}

.hdr-social {
  display: inline-block;
  margin-left: .6em
}

.hdr-social > a {
  margin-left: .4em
}

.hdr-btn {
  border: none;
  background: 0 0;
  padding: 0;
  margin-left: .4em;
  cursor: pointer
}

#menu-btn {
  display: none;
  margin-left: .6em;
  cursor: pointer
}

#mobile-menu {
  position: fixed;
  top: 0;
  display: none;
  height: 100%;
  width: 100%;
  padding: .6em 1.8em;
  z-index: 1;
  box-sizing: border-box;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  animation-duration: .4s;
  flex-direction: column
}

#mobile-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 2;
  font-size: 1.2em;
  text-align: center
}

#mobile-menu ul li {
  margin: 1rem
}

#mobile-menu ul a {
  color: #80c8bf
}

#site-footer {
  text-align: center;
  font-size: .9em;
  margin-bottom: 96px;
  margin-top: 64px
}

#site-footer p {
  margin: 0
}

#spotlight {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 93%;
  margin: auto;
  font-size: 1.5rem
}

#spotlight.error-404 {
  flex-direction: row;
  line-height: normal
}

p.img-404 {
  margin: 0
}

p.img-404 svg {
  width: 180px;
  max-width: 100%;
  height: auto
}

.banner-404 {
  margin-left: 2em
}

.banner-404 h1 {
  font-size: 3em;
  margin: .5rem 0
}

.banner-404 p {
  margin-top: 0
}

.banner-404 .btn-404 {
  font-size: .8em
}

.banner-404 .btn-404 a {
  display: inline-block;
  border-radius: 5px;
  padding: 5px;
  transition-property: color, border-color
}

.banner-404 .btn-404 a:first-child {
  margin-right: 1em
}

.banner-404 .btn-404 a:hover {
  border-color: #fff
}

.banner-404 .btn-404 a svg {
  margin-right: .5em
}

#home-center {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: center
}

#home-subtitle {
  margin-top: 0;
  margin-bottom: 1.5em;
  text-align: center;
  line-height: normal;
  font-size: .7em;
  font-style: italic;
  opacity: .9;
  background: rgba(128, 200, 191, .15);
  padding: 10px
}

#home-subtitle a {
  color: #80c8bf
}

#home-social {
  text-align: center;
  opacity: .8
}

#home-social a {
  margin: 0 .2em;
  color: #0099e3
}

#home-social a:before {
  content: "# "
}

#home-nav {
  opacity: .8
}

#home-nav a {
  display: block;
  text-align: center;
  margin-top: .5em;
  color: #ff9127;
  background: rgba(255, 149, 49, .2)
}

#home-nav a:hover {
  background: rgba(255, 145, 39, .4)
}

#home-footer {
  text-align: center;
  font-size: .6em;
  line-height: normal;
  opacity: .6
}

#home-footer p {
  margin-top: 0
}

.posts-group {
  display: flex;
  margin-bottom: 1.9em;
  line-height: normal
}

.posts-group .post-year {
  padding-top: 6px;
  margin-right: 1.8em;
  font-size: 1.6em;
  opacity: .6
}

.posts-group .post-year:hover {
  text-decoration: underline;
  cursor: pointer
}

.posts-group .posts-list {
  flex-grow: 1;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 140%;
  grid-gap: 1em .4em;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr))
}

.posts-group .post-item {
  padding: 12px
}

.posts-group .post-item:hover {
  background: rgba(128, 200, 191, .15)
}

.posts-group .post-item a {
  display: block
}

.posts-group .post-item a > span {
  float: right
}

.posts-group .post-item a > .post-day {
  margin: .5rem .5rem 0 0
}

.posts-group .post-day {
  flex-shrink: 0;
  margin-left: 1em;
  opacity: .6
}

.post-header {
  margin-top: 1.2em;
  line-height: normal
}

.post-header .post-meta {
  font-size: .9em;
  letter-spacing: normal;
  opacity: .6
}

.post-header h1 {
  margin-top: .1em
}

hr.post-end {
  width: 50%;
  margin-top: 1.6em;
  margin-bottom: .8em;
  margin-left: 0;
  border-style: solid;
  border-bottom-width: 4px
}

.content a {
  word-wrap: break-word;
  border: none;
  box-shadow: inset 0 -4px 0 #80c8bf;
  transition-property: box-shadow;
  transition-duration: .1s
}

.content figure {
  max-width: 100%;
  height: auto;
  margin: 0;
  text-align: center
}

.content figure p {
  font-size: .8em;
  font-style: italic;
  opacity: .6
}

.content figure.left {
  float: left;
  margin-right: 1.5em;
  max-width: 50%
}

.content figure.right {
  float: right;
  margin-left: 1.5em;
  max-width: 50%
}

.content figure.big {
  max-width: 100vw
}

.content img {
  border: 1px solid #ddd;
  display: block;
  max-width: 100%;
  height: auto;
  margin: auto;
  border-radius: 4px;
  min-height: 20px;
  min-width: 30px;
  background: #fff;
}

.content ul, .content ol {
  padding: 0;
  margin-left: 1.8em
}

.content a.anchor {
  float: left;
  margin-left: -20px;
  padding-right: 6px;
  box-shadow: none;
  opacity: .8
}

.content a.anchor:hover {
  color: #80c8bf;
  opacity: 1
}

.content a.anchor svg {
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: baseline;
  visibility: hidden
}

.content a.anchor:focus svg {
  visibility: visible
}

.content h1:hover a.anchor svg, .content h2:hover a.anchor svg, .content h3:hover a.anchor svg, .content h4:hover a.anchor svg, .content h5:hover a.anchor svg, .content h6:hover a.anchor svg {
  visibility: visible
}

.footnotes {
  font-size: .85em
}

.footnotes a {
  box-shadow: none;
  text-decoration: underline;
  transition-property: color
}

.footnotes a:hover {
  background: transparent
}

.footnotes a.footnote-return {
  text-decoration: none
}

.footnotes ol {
  line-height: 1.8
}

.footnote-ref a {
  box-shadow: none;
  text-decoration: none;
  padding: 2px;
  border-radius: 2px;
  background-color: #0099e3
}

.post-info {
  font-size: .8rem;
  line-height: normal;
  opacity: .6
}

.post-info p {
  margin: .8em 0
}

.post-info a:hover {
  border-bottom: 1px solid #80c8bf
}

.post-info svg {
  margin-right: .8em
}

.post-info .tag {
  margin-right: .5em
}

.post-info .tag::before {
  content: "#"
}

#toc {
  padding: 10px;
  border: 2px solid rgba(60, 99, 118, .36);
  font-size: 120%
}

#toc a {
  color: #000
}

#toc a:hover {
  color: #ff9531
}

#toc li {
  list-style: none;
  margin-bottom: .2em
}

.toc-title {
  margin-left: 1em;
  margin-bottom: .5em;
  font-size: .8em;
  font-weight: 700
}

#TableOfContents {
  font-size: .8em;
  opacity: .6
}

#TableOfContents ul {
  padding-left: 1em;
  margin: 0
}

#TableOfContents > ul {
  list-style-type: none
}

#TableOfContents > ul ul ul {
  font-size: .9em
}

#TableOfContents a:hover {
  border-bottom: #80c8bf 1px solid
}

.post-nav {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5em;
  margin-bottom: 2.5em;
  font-size: 1.2em
}

.post-nav a {
  flex-basis: 50%;
  flex-grow: 1
}

.post-nav .next-post {
  text-align: left;
  padding-right: 5px
}

.post-nav .prev-post {
  text-align: right;
  padding-left: 5px
}

.post-nav .post-nav-label {
  font-size: .8em;
  opacity: .8;
  text-transform: uppercase
}

.related-posts {
  padding: .8em;
  margin-top: 1.5em;
  font-size: .8rem;
  border: 3px dashed rgba(255, 255, 255, .2);
  border-radius: 5px
}

.related-posts h2 {
  margin: 0;
  line-height: normal
}

.related-posts ul {
  margin-top: .5em;
  margin-bottom: 0
}

@media (min-width: 800px) {
  .site-main {
    margin-top: 3em
  }

  hr.post-end {
    width: 40%
  }
}

@media (min-width: 960px) {
  .site-main {
    margin-top: 6em
  }
}

@media (min-width: 1300px) {
  .site-main {
    margin-top: 8em
  }

  .desktop-only, #toc.show-toc {
    display: block
  }

  .desktop-only-ib {
    display: inline-block
  }

  figure.left {
    margin-left: -240px
  }

  figure.left p {
    text-align: left
  }

  figure.right {
    margin-right: -240px
  }

  figure.right p {
    text-align: right
  }

  figure.big {
    width: 1200px;
    margin-left: -240px
  }

  hr.post-end {
    width: 30%
  }
}

@media (min-width: 1800px) {
  .site-main {
    margin-top: 10em
  }

  .section-inner {
    max-width: 1600px
  }

  .thin {
    max-width: 960px
  }

  figure.left {
    max-width: 75%;
    margin-left: -320px
  }

  figure.right {
    max-width: 75%;
    margin-right: -320px
  }

  figure.big {
    width: 1600px;
    margin-left: -320px
  }

  hr.post-end {
    width: 30%
  }
}

@media (max-width: 760px) {
  .hide-in-mobile, .site-nav.hide-in-mobile {
    display: none
  }

  #menu-btn {
    display: inline-block
  }

  .posts-group {
    display: block
  }

  .posts-group .post-year {
    margin: -6px 0 4px
  }

  #spotlight.error-404 {
    flex-direction: column;
    text-align: center
  }

  #spotlight.error-404 .banner-404 {
    margin: 0
  }
}

@media (max-width: 520px) {
  a.anchor {
    visibility: hidden
  }

  .content figure.left, .content figure.right {
    float: unset;
    max-width: 100%;
    margin: 0
  }

  hr.post-end {
    width: 60%
  }
}
